# ==================================================================
# CONFIGURAÇÕES AMBIENTE DEV - ${{ values.projectName }}
# ==================================================================

# Configurações Básicas
name        = "${{ values.projectName }}-dev"
eks_name    = "${{ values.projectName }}-dev-eks"
eks_version = "${{ values.clusterVersion }}"
region      = "${{ values.awsRegion }}"

# Configurações de Rede
vpc_cidr = "10.0.0.0/16"

# Tags do Ambiente
tags = {
  Environment = "dev"
  Project     = "${{ values.projectName }}"
  ManagedBy   = "backstage-opentofu"
  Owner       = "${{ values.owner }}"
  Repository  = "${{ values.repoName }}"
  CreatedAt   = "${{ '' | now }}"
}